<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/home/fullstack/Desktop/ejerciciosJS-1.0/JavaScripts/ejercicio3.js"></script>
    <link rel="StyleSheet" href="/home/fullstack/Desktop/ejerciciosJS-1.0/JavaScripts/estilos/ejercicio3.css">
    <link rel="stylesheet" href="/home/fullstack/Desktop/ejerciciosJS-1.0/JavaScripts/blocks/_la-madre-que-me-pario.scss">
    <title>ejercicio3</title>
</head>
<body>
    <div class="borde" >
        <br>  Nombre:<input  id="nombre" type="text" placeholder="Nombre"> <br>

        <div class="fondo col-md-3"> 
            <br> email:<input id="email" type="text" placeholder="email@hotmail" > <br>
            <button id="enviar"> enviar</button>
        </div>
    </div>


</body>
