.fondo1{
    margin-left: 15px;
    background-color: rgba(74, 179, 42, 0.315);
    width: 50%;
    border: 9px groove #990000;
    border-top-color: #CC0000;
    border-right-color: blue;
    border-bottom-color: #00FF00;
    border-left-color: #CCC;


}

.medio{
    text-align: center;
}

.boton1{
  background: content-box; 
   
  /* comento la etiquet acontianuacion por que quiero que el boton tenga exactamente
  el color que tiene el cuadro
  */

  /* background-image: linear-gradient(to bottom, #d81010, #2079b0); */
  border-radius: 28px;
  text-shadow: 3px 2px 1px #0533e7;
  box-shadow: 6px 5px 10px #f1e20b;
  font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  text-decoration: none;
}
.boton1:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #25b020, #3ce7e7);
    background-image: -moz-linear-gradient(top, #20b02c, #07e9e9);
    background-image: -ms-linear-gradient(top, #20b020, #0be6ee);
    background-image: -o-linear-gradient(top, #20b038, #12e4f3);
    background-image: linear-gradient(to bottom, #20b02c, #0eecc7);
    text-decoration: none;
  }

 