.fondo1{
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    border: 9px groove #990000;
    border-top-color: #CC0000;
    border-right-color: rgb(255, 0, 0);
    border-bottom-color: rgba(158, 218, 17, 0.699);
    border-left-color: #CCC;


}

.medio{
    text-align: center;
}

.boton1{
  background: content-box; 
   
  /* comento la etiquet acontianuacion por que quiero que el boton tenga exactamente
  el color que tiene el cuadro
  */

  /* background-image: linear-gradient(to bottom, #d81010, #2079b0); */
  border-radius: 28px;
  text-shadow: 3px 2px 1px #303444;
  box-shadow: 6px 5px 10px #f1e20b;
  font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  text-decoration: none;
}
.boton1:hover {
    background: #8c808f9d;
    background-image: -webkit-linear-gradient(top, #b02020, #3ce7e794);
    background-image: -moz-linear-gradient(top, #b02020, );
    background-image: -ms-linear-gradient(top, #b02020, );
    background-image: -o-linear-gradient(top, #b02020, );
    background-image: linear-gradient(to bottom, #b02020, );
    text-decoration: none;
  }
